<footer class="bg-background/5 flex justify-between items-center px-2 py-1">
    <p>© 2023 ChaponanWill</p>

    <p>
        <a href="https://github.com/ChaponanWill" target="_blank" class="underline underline-offset-2 hover:no-underline">
            Visita mi repositorio en GitHub
        </a>
<!--          
        <a href="https://uskhokhar.me" target="_blank" class="underline underline-offset-2 hover:no-underline">
            U.S.Khokhar 🤓
        </a> -->
    </p>
</footer>

<style>
    p{
        @apply text-sm text-text/50;
    }

    a {
        @apply underline hover:text-text/80;
    }
</style>